{% extends 'base.html.twig' %}

{% block title %}Search Societe{% endblock %}

{% block body %}
    <h1>Search Societe</h1>
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit"> Search </button>
        {{ form_end(form) }}
    </div>

{% endblock %}
